CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/ESP32S3_CAM/partitions-8MiB.csv"

CONFIG_SCCB_HARDWARE_I2C_PORT1=0
CONFIG_SCCB_CLK_FREQ = 400000
CONFIG_CAMERA_CORE0=1
CONFIG_CAMERA_DMA_BUFFER_SIZE_MAX=32768
